@import '@/assets/styles/variables';


.tools{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2rem 0 0 0;
  .icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-right: .8rem;
    background: #fff;
    border-radius: 0.2em;
    box-shadow: 0 0 .5em 0.15em rgba(0,0,0,0.2);
    svg {
      width: 18px;
      margin-right: .4rem;
      fill: $gray;
      transition: fill .2s ease-in;
    }
    &:hover svg {
      transition: fill .2s ease-out;
    }
    &:hover svg {
      fill: $primary;
    }
  }


  }